<configuration>
  <appSettings>
    <add key="RedisSessionModule.RedisAddress" value="redis:6379" />
    <add key="RedisSessionModule.SessionTTL" value="20" />
  </appSettings>
  <system.web>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
      <allow roles="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <modules>
      <add name="RedisSessionModule" type="CustomSession.RedisSessionModule, CustomSession.dll" />
    </modules>
  </system.webServer>
%   <sessionState mode="Custom" customProvider="RedisSessionStateProvider">
%     <providers>
%       <add name="RedisSessionStateProvider"
%          type="Microsoft.Web.Redis.RedisSessionStateProvider"
%          connectionString="redis:6379" />
%     </providers>
%   </sessionState>
</configuration>

