<system.web>
    <authentication mode="Windows" />
    <authorization>
        <deny users="?" />
        <allow roles="*" />
    </authorization>

    <sessionState mode="Custom" customProvider="RedisSessionStateProvider">
      <providers>
        <add name="RedisSessionStateProvider" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="redis" port="6379" />
      </providers>
    </sessionState>
</system.web>
