<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <asp scriptErrorSentToBrowser="true"/>
        <asp debug="true"/>
        <asp enableParentPaths="true"/>
%         add fastcgi module to load php pages using the php from the php container
%         <handlers>
%             <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Unspecified" />
%         </handlers>
    </system.webServer>
</configuration>
